.t1 {
    text-align: center;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    vertical-align:middle;
    

    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

    table-layout: fixed;

}


.t1 tr:nth-child(even){background-color: #f2f2f2;}

.t1 tr:hover {background-color: #ddd;}



.spe {
    background-color: #b8c486;
}

.t1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
} 

td {
    border: 1px solid rgb(157, 157, 160);
}

